#page {
    width: 900px ;
    height: 2000px;
    margin: 0 auto;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}
#topo {
background-color: bisque;
    width: 100% ;
    height: 4%;
    display: flex;
    justify-content: space-between ;
        align-items: center ;
        border: 1px solid black;

}
#bloco1 {
    background-color: rgb(20, 175, 116);
    width: 100% ;
    height: 24%;  
    border: 1px solid black;
   flex-direction: row;
   display: flex;
}
#bloco2 {
    background-color: rgb(20, 175, 116);
    width: 100% ;
    height: 24%;  
    border: 1px solid black;
}
#bloco3 {
    background-color: rgb(20, 175, 116);
    width: 100% ;
    height: 24%;  
    border: 1px solid black;
}
#bloco4 {
    background-color: rgb(20, 175, 116);
    width: 100% ;
    height: 24%;  
    border: 1px solid black;
}
#logo {
    width: 150px ;
    height: 50px;
    background-color: black;
    margin-left: 10px;
    
}
#entra {
    width: 200px ;
    height: 50px;
    background-color: rgb(67, 27, 83);
    margin-right: 10px;
}
#bloco-1-1{
    width: 450px ;
    height: 4800px;
    background-color: black;
}
#bloco-1-1-1{
    width: 50px ;
    height: 50px;
    background-color: black;
}
#bloco-1-1-2{
    width: 50px ;
    height: 50px;
    background-color: black;
}
#bloco-1-1-3{
    width: 50px ;
    height: 50px;
    background-color: black;
}
#bloco-1-2{
    width: 100px ;
    height: 100px;
    background-color: rgb(214, 36, 36);

}
#bloco-2-1 {
    display: flex;
    align-items: center;
    background-color: aqua;
    width: 450px ;
    height: 4800px;
}